<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465610976795-i41oose1a3pknc41fu1r40809vc4apk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465610976795-i41oose1a3pknc41fu1r40809vc4apk7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>465610976795-4d4t0rokoceug03lnhni61lfaacfio3s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5bXLEixu3kbqhQYYfcQ64GSofokJih-w</string>
	<key>GCM_SENDER_ID</key>
	<string>465610976795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.marriagefirstswipe</string>
	<key>PROJECT_ID</key>
	<string>dating-3f3f1</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-3f3f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465610976795:ios:7d53c6b821a4ed9afe52be</string>
</dict>
</plist>